.menuContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    transition: linear 0.5s;
}

.menuContainer.open {
    right: 0;
}

.button {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.button > button {
    border: none;
    background: none;
    background-color: #282828;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.button.open > button > .arrow {
    transform: rotateZ(-0.5turn);
    transition: 0.5s;
}

.button.open > button > .arrow {
    color: white;
    font-size: xx-large;
    transform: rotateZ(0.5turn);
    transition: 0.5s;
}


.menu {
    margin-top: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 500px;
    background-color: #282828;
    
}

.gen {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;
}

.reGen {
    display: flex;
    flex: 1;
    align-items: center;
}
.reGen > button {
    flex: 1;
    background: none;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    font-size: xx-large;
}
.reGen > button:hover {
    border: solid white 3px;
}

.details {
    display: flex;
    flex: 4;
    align-items: center;
}
.details > label {
    display: flex;
    flex: 1;
    font-size: larger;
    color: white;
    width: 25%;
    justify-content: center;
}
.details > div {
    display: flex;
    flex: 1;
    background-color: #0004;
    border-radius: 100px;
    justify-content: center;
}
.details > div div {
    background: none;
    border: none;
    background-color: #0004;
    color: white;
    font-size: large;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.details > div  div:first-child {
    border-radius: 100px 0px 0px 100px;
}
.details > div  div:last-child {
    border-radius: 0px 100px 100px 0px;
}
.details > div > input[type=number] {
    width: 100%;
    background: none;
    border: none;
    text-align: center;
    font-size: larger;
    color: white;

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.details > input[type=range] {
    display: flex;
    flex: 2;
    margin: 10px;
}


.display {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: solid blueviolet 5px;
}

.edge {
    display: flex;
    flex: 1;
}